#home-page {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  gap: 2rem;

  @media (max-width: 550px) {
    padding: 2rem 0.5rem;
  }

  h4 {
    margin-bottom: 3rem;
  }

  .module-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(--medium-primary);
    color: var(--background);
    border: 5px solid var(--dark-primary);
    &:hover {
      border: 5px solid var(--dark-secondary);
      background-color: var(--background);
      color: var(--light-secondary);
    }
    h2 {
      font-size: 3rem;
    }
  }

  .class-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(--medium-primary);
    color: var(--background);
    border: 5px solid var(--dark-secondary);
    &:hover {
      border: 5px solid var(--dark-primary);
      background-color: var(--background);
      color: var(--light-secondary);
    }
    h2 {
      font-size: 3rem;
    }
  }
}
